main {
  background-color: white;
  border-left: 1px solid #eee;
}

.sidebar-container {
  width: calc((18.75rem * 2) - 1.5rem);
  position: fixed;
  top: 0;
  bottom: 0;
  left: calc(100% - 18.75rem);
}

.sidebar {
  width: 18.75rem;
  z-index: 990;
  position: absolute;
  left: calc(100% - 18.75rem);
  top: 0;
  bottom: 0;

  padding-left: 2rem !important;

  -webkit-transition: left 0.5s ease;
  transition: left 0.5s ease;
}

.sidebar h6 {
  white-space: nowrap;

  -webkit-transition: transform 0.5s ease;
  transition: transform 0.5s ease;

  -webkit-transform-origin: left;
  transform-origin: left;
}

.sidebar h6.vertical {
  transform: translate(-1.2rem) rotate(90deg);
}

.sidebar-toggler {
  width: 1.5rem;
  position: absolute;
  z-index: 990;
  top: 0;
  bottom: 0;
  left: 0;

  border-left: 1px solid #ddd;
  cursor: col-resize;
}

.sidebar-toggler-text {
  position: absolute;
  top: 49%;
  color: #eee;
}
